{% set url = path('events_show', {'slug': event.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ event.rooms }} chambres, <strong>{{ event.price | number_format(2, ',', ' ') }}&euro; / nuit</strong> <br>

            {% if event.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': event.avgRatings} %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        
        <a href="{{ url }}">
            <img src="{{ event.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">
                    {{ event.title }}
                </a>
            </h4>
            <p class="card-text">
                {{ event.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary float-right">En savoir plus !</a>

            {% if app.user and app.user == event.author %}
                <a href="{{ path('events_edit', {'slug': event.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>