{% extends 'base.html.twig' %}

{% block title %}{% trans %}text.msg{% endtrans %}!{% endblock %}

{% block body %}

    {# <div class="jumbotron text-center"> #}
       
        <h1 class=" text-center"> {% trans %}text.msg{% endtrans %}...!✅</h1>
       
        {# {{message}} #}
        {# {% trans  with {'events': nbEvents} %}num_of_events{% endtrans %} #}
         <p class=" text-center" >{% trans %}texte{% endtrans %}.</p>
    
        <div class="container mt-4">
            {# <h2>Les événements des utilisateurs qui se sont inscrit depuis un mois....! </h2> #}
             {# {{ dump(events)}} #} 
            {# {% for i in 0..users|length %}
               <li> {{ users.0 }} </li> 
            {% endfor %} #}
           
          
           <div class="row"> 
             {% for data in users %}
                <div class="col-3">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{data.artiste.fullName}}</h4>
        
                            <hr>
        
                            <div class="card-text">
                                <img src="{{data.artiste.picture}}" alt="Avatar de {{data.artiste.fullName}}" class="float-center mr-5">
                                <br>
                                <p> {{data.artiste.description | slice(0,30) | raw }}  </p>
                                <p><strong style="color:blue" >  {% trans  with {'events': data.val } %}num_of_events{% endtrans %}  {% trans %}text{% endtrans %} </strong> <em style="color:red"> {{data.artiste.createdAt | date('d/m/y') }}</em></p>
                    
                               
                                <br>
                                <a href="{{ path('events_show', {'id': data.artiste.id,'slug':data.artiste.slug})}}" class="btn btn-success float-right">En savoir plus!</a>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %}
{# 
                {% for u in users %}
                    <p>Nombre d'évébements : {{ u['val'] }}</p>
                    <p>Nom : {{ u.artiste.firstName ~ ' ' ~  u.artiste.lastName}}</p>
                {% endfor %} #}
            </div>



        </div>
        
    {# </div> #}
{% endblock %}
