{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   

                <div class="container mt-4">
                    <h1>Les commandes...! ✅</h1>                    
                    <div class="row"> 
                        {% for data in commandes %}
                            <div class="col-3">
                                <div class="card border-secondary mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">{{data.commandes.fullName}}</h4>
                    
                                        <hr>
                    
                                        <div class="card-text">
                                            <img src="{{data.commandes.picture}}" alt="Avatar de {{data.commandes.fullName}}" class="float-center mr-5 mb-3">
                                            <br>
                                            <p>numéro de commande : <strong style="color:blue" > {{ data.nbCommmande }} </strong> </p>
                                            <p>Date de commande: <em style="color:red"> {{data.datecomd | date('d/m/y') }}</em></p>
                                
                                        
                                            <br>
                                            {# <a href="{{ path('events_show', {'id': data.artiste.id,'slug':data.artiste.slug})}}" class="btn btn-success float-right">En savoir plus!</a> #}
                                            <form method="post" action="{{ path('commande.delete', {'id': data.id}) }}" onsubmit="return confirm('Etes-vous sûre de votre action?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
                                                <button class="btn btn-danger">Supprimer</button>
                                                
                                            </form>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>



                    </div>

            </div>
{% endblock %}
