{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 >Hello <em style="color:black">{{ controller_name }}! ✅</em></h1>

      
    <div class="container">
       
      {# {{ dump(geol) }} #}
      {{ dump(search) }}
       <h1>Evenement de l'artiste <em style="color:cyan">{{ search.0 }} </em></h1>
       <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>SearchNom</th>
                            <td>{{ search.0 }}</td>
                        </tr>
                        <tr>
                            <th>FullNom</th>
                            <td>{{ search.1[0] }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ search.2[0] }}</td>
                        </tr>
                        <tr>
                            <th>Plus d'information</th>
                            <td> <a href="{{ search.3[0] }}" target=_blank >{{ search.3[0] }} <a/> </td>
                        </tr>
                    
                    </tbody>
                </table>
      {# {{ app.user.picture | figure(app.user.style) | raw }} #}

    
    </div>
    <div id='mapid' style="height:300px"></div>
   </div>
{% endblock %}
{% block javascripts %}
   <script> 
       
     var t = {{ geol | raw }};
    console.log(t);
    x = t.features[0].geometry.coordinates[0];
    y = t.features[0].geometry.coordinates[1];
      console.log(t.features[0].geometry.coordinates);
      console.log(x);
       var mapi = L.map('mapid').setView([y, x], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mapi);
        L.marker([y, x]).addTo(mapi)
        .bindPopup(t.features[0].properties.label )
        .openPopup();
    </script> 

{% endblock %}
