{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <div class="container mt-3">
          <h1>Gestion des artistes</h1>
            {% for message in app.flashes('success')%}
                <div class="alert alert-success">
                     {{message}}
                 </div>
            {% endfor %}

            <table class="table table-bordered mr-5  ">
                <thead class="table-primary text-center ">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Pays</th>
                        <th>Style</th>
                        <th>Presentation</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for artiste in artistes %}
                    <tr>
                        <td>{{ artiste.id }}</td>
                        <td>{{ artiste.nom }}</td>
                        <td>{{ artiste.pays }}</td>
                        <td>{{ artiste.style }}</td>
                        <td>{{ artiste.presentation }}</td>
                        <td >
                            {# <a href="{{ path('artiste_show', {'id': artiste.id}) }}">show</a>
                            <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a> #}
                             {# <a class="btn btn-primary " href="{{ path('admin.artiste.show', {'id': artiste.id}) }}">Visualiser</a> #}
                             <a class="btn btn-success mb-2" href="{{ path('admin.artiste.edit', {'id': artiste.id}) }}">Editer </a>
                             <form method="post" action="{{ path('admin.artiste.delete', {'id': artiste.id}) }}" onsubmit="return confirm('Etes-vous sûre de votre action?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artiste.id) }}">
                                <button class="btn btn-danger">Delete</button>
                                
                            </form>

                        </td>
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
        
            <a href="{{ path('admin.artiste.new') }}" class="btn btn-info mb-4">Ajouter un artiste</a>
    </div>
     {# <a class="btn btn-info">{{ a_label|default('Créer un nouveau artiste') }}</a> #}
{% endblock %}
